*{
  box-sizing: border-box;

}

body{
	color: white;
	background-color: #121212;
}
table{
	border-collapse: collapse;
	width:100%;
}
th{
	border-top: 10px groove grey;
	border-left: 10px groove grey;
	border-right: 10px groove grey;
	padding: 15px;
	color: silver;
	background-color: #3b3b3b;
}
a{
	color: white;
	display: block;
}
img{
	padding-left: 75px;
}
tr, td{
	border-top: 10px groove grey;
	border-left: 10px groove grey;
	border-right: 10px groove grey;
	padding: 15px;
	color: white;
	text-align: center;
	background-color: #3b3b3b;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  padding-left:70px;
  padding-right:70px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#operations{
	padding: 30px;
}



